@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;600&family=Jura:wght@400;700&family=Kanit:wght@500&family=Lato:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}



main{
    transition: 0.7s;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #000000;
}

a {
    text-decoration: none;
}

nav > ul > li > a {
    list-style: none;
    text-decoration: none;
    font-family: 'Jura';
    color: #4db6ac;
}

#btnMobile{
    display: none ;
}

p {
    font-family: 'Lato';
    color: #ffffff;
}

header > .presentation > h1{
    font-family: 'Kanit';
    color: #fff;
}

header > .presentation > h2 {
    font-family: 'Lato';
    color: #fff;
}

header > .presentation > h3 {
    color: #fff;
    font-family: 'Jura';
}



.skills > h1, .projects > h1, .study > h1 {
    font-family: 'Jura';
    color: #000000;
    
}



.hardSkills > h2 {
    font-family: 'Inter';
    color: #000000;
    font-weight: 700;
}

.softSkills > h2 {
    font-family: 'Inter';
    color: #000000;
    font-weight: 700;
}


.content > h3 {
    font-family: 'Jura';
}


.softSkills > h3 {
    font-family: 'Jura';
}

.content > ul > li {
   
    color: #000000;
    font-family: 'Sans-serif';
    font-weight: 510;
}

.contentSoft > ul > li {
    font-family: 'Sans-serif';
    font-weight: 525;
    color: #000000;
}

.plantyPost > h2, .toDoPost > h2, .bomSaborPost > h2 {
    font-family: 'Jura';
}

.plantyPost > p, .toDoPost > p, .bomSaborPost > p {
    color: #000000;
}

button {
    font-family: 'Lato';
}

.infoContact > h1 {
    font-family: 'Kanit';
    color: #000000;
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 4em;
}

.gmail > p {
    font-family: 'Lato';
}

h1, .txtAboutMe {
    font-family: 'Jura';
    color: #4db6ac;
}

.menu-item {
    position: relative;
    color: #4db6ac;
    text-decoration: none;  
}

.menu-item:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: left center; /* Define o ponto de origem da transformação */
    transition: all 0.3s ease-in-out 0s;
}

.menu-item:hover:before {
    visibility: visible;
    transform: scaleX(1); /* Estica o pseudoelemento para sua largura total */
}
